<%= form_with model: @post, url: user_posts_path, method: :post, local: true, scope: :my_post do |f| %>
    <div>
      <%= f.label :Title %>
      <%= f.text_field :Title %>
    </div>
    <div>
      <%= f.label :Text %>
      <%= f.text_field :Text %>
    </div>
      <%= f.submit "Create Post" %>
  <% end %>